In [9]:
import pandas as pd

In [3]:
from __future__ import print_function

from deeputil.datasets import credit_card_customers
from deeputil.datasets import titanic_list
from deeputil.datasets import adult_income_census
from deeputil.datasets import us_states_zip_codes
from deeputil.datasets import airline
from deeputil.datasets import chicago

In [6]:
a1 = airline.load_airlines_base_data_as_pandas_df()
a5 = chicago.load_chicago_crimes_data_as_pandas_df()

Downloaded 1.3 MB dataset with 699 and 11 columns..........
Downloaded 2.3 MB dataset with 9999 and 22 columns..........

In [ ]:
pd1 = credit_card_customers.load_data_as_pandas_df()
pd2 = titanic_list.load_data_as_pandas_df()
pd3 = adult_income_census.load_data_as_pandas_df()
pd4 = us_states_zip_codes.load_data_as_pandas_df()

In [7]:
print(len(a5.columns))
print(a5.shape)

22
(9999, 22)

In [94]:
x = pd.read_csv('/Users/avkashchauhan/src/github.com/avkash/mldl/data/coil_2000.csv')

In [95]:
x.shape

(5822, 86)

In [96]:
x.columns

Index(['MOSTYPE', 'MAANTHUI', 'MGEMOMV', 'MGEMLEEF', 'MOSHOOFD', 'MGODRK',
       'MGODPR', 'MGODOV', 'MGODGE', 'MRELGE', 'MRELSA', 'MRELOV', 'MFALLEEN',
       'MFGEKIND', 'MFWEKIND', 'MOPLHOOG', 'MOPLMIDD', 'MOPLLAAG', 'MBERHOOG',
       'MBERZELF', 'MBERBOER', 'MBERMIDD', 'MBERARBG', 'MBERARBO', 'MSKA',
       'MSKB1', 'MSKB2', 'MSKC', 'MSKD', 'MHHUUR', 'MHKOOP', 'MAUT1', 'MAUT2',
       'MAUT0', 'MZFONDS', 'MZPART', 'MINKM30', 'MINK3045', 'MINK4575',
       'MINK7512', 'MINK123M', 'MINKGEM', 'MKOOPKLA', 'PWAPART', 'PWABEDR',
       'PWALAND', 'PPERSAUT', 'PBESAUT', 'PMOTSCO', 'PVRAAUT', 'PAANHANG',
       'PTRACTOR', 'PWERKT', 'PBROM', 'PLEVEN', 'PPERSONG', 'PGEZONG',
       'PWAOREG', 'PBRAND', 'PZEILPL', 'PPLEZIER', 'PFIETS', 'PINBOED',
       'PBYSTAND', 'AWAPART', 'AWABEDR', 'AWALAND', 'APERSAUT', 'ABESAUT',
       'AMOTSCO', 'AVRAAUT', 'AAANHANG', 'ATRACTOR', 'AWERKT', 'ABROM',
       'ALEVEN', 'APERSONG', 'AGEZONG', 'AWAOREG', 'ABRAND', 'AZEILPL',
       'APLEZIER', 'AFIETS', 'AINBOED', 'ABYSTAND', 'CARAVAN'],
      dtype='object')

In [98]:
x.head()

,MOSTYPE,MAANTHUI,MGEMOMV,MGEMLEEF,MOSHOOFD,MGODRK,MGODPR,MGODOV,MGODGE,MRELGE,...,APERSONG,AGEZONG,AWAOREG,ABRAND,AZEILPL,APLEZIER,AFIETS,AINBOED,ABYSTAND,CARAVAN
0,33,1,3,2,8,0,5,1,3,7,...,0,0,0,1,0,0,0,0,0,0
1,37,1,2,2,8,1,4,1,4,6,...,0,0,0,1,0,0,0,0,0,0
2,37,1,2,2,8,0,4,2,4,3,...,0,0,0,1,0,0,0,0,0,0
3,9,1,3,3,3,2,3,2,4,5,...,0,0,0,1,0,0,0,0,0,0
4,40,1,4,2,10,1,4,1,4,7,...,0,0,0,1,0,0,0,0,0,0

In [ ]:
x = pd.read_csv('/Users/avkashchauhan/src/github.com/avkash/mldl/data/movies.dat', sep="::", names= ["SN", "Name", "Type"])

In [ ]:
x['NameX'] = x['Name']

In [ ]:
#x['NameX'] = x['Name'].map(lambda x: x.lstrip('()').rstrip('aAbBcC'))
x['Name'].replace(regex=True,inplace=True,to_replace=r'"',value=r'')

In [ ]:
x.to_csv('/Users/avkashchauhan/src/github.com/avkash/mldl/data/movies_new.csv' , index=False)

In [ ]:
x.tail()

In [ ]:
y

In [ ]:
x.Name.unique()

In [ ]:
x['Film-Noir'] = x['Type'].str.contains('Film-Noir')

In [ ]:
x

In [ ]:
x['Year'] =  x.Name.str.extract('(\d{4})') #'^\d{4}$'

In [ ]:
x['Name'] = x.Name.str.replace('(\d{4})', "")

In [ ]:
x = x.Name.str.replace('()', "")

In [ ]:
yy.shape

In [67]:
x.to_csv('/Users/avkashchauhan/src/github.com/avkash/mldl/data/seeds_with_header.csv', index= False)

In [ ]:
x.Name.str.strip()

In [ ]:
d = {True:1, False:0}

In [ ]:
x.tail()

In [ ]:
yy.applymap(lambda x: 1 if x else 0)