## Introduction
A list of 1000 classes from ImageNet

In [1]:
from deeputil.modelassist import ImageNet

In [2]:
df = ImageNet.get_imagenet_classes_as_df()

In [4]:
df.shape

(1000, 3)

In [5]:
df

    Index         Id                     Class
0       0  n01440764                     tench
1       1  n01443537                  goldfish
2       2  n01484850         great_white_shark
3       3  n01491361               tiger_shark
4       4  n01494475                hammerhead
5       5  n01496331              electric_ray
6       6  n01498041                  stingray
7       7  n01514668                      cock
8       8  n01514859                       hen
9       9  n01518878                   ostrich
10     10  n01530575                 brambling
11     11  n01531178                 goldfinch
12     12  n01532829               house_finch
13     13  n01534433                     junco
14     14  n01537544            indigo_bunting
15     15  n01558993                     robin
16     16  n01560419                    bulbul
17     17  n01580077                       jay
18     18  n01582220                    magpie
19     19  n01592084                 chickadee
20     20  n01601694               water_ouzel
21     21  n01608432                      kite
22     22  n01614925                bald_eagle
23     23  n01616318                   vulture
24     24  n01622779            great_grey_owl
25     25  n01629819  European_fire_salamander
26     26  n01630670               common_newt
27     27  n01631663                       eft
28     28  n01632458        spotted_salamander
29     29  n01632777                   axolotl
..    ...        ...                       ...
970   970  n09193705                       alp
971   971  n09229709                    bubble
972   972  n09246464                     cliff
973   973  n09256479                coral_reef
974   974  n09288635                    geyser
975   975  n09332890                  lakeside
976   976  n09399592                promontory
977   977  n09421951                   sandbar
978   978  n09428293                  seashore
979   979  n09468604                    valley
980   980  n09472597                   volcano
981   981  n09835506                ballplayer
982   982  n10148035                     groom
983   983  n10565667               scuba_diver
984   984  n11879895                  rapeseed
985   985  n11939491                     daisy
986   986  n12057211     yellow_lady's_slipper
987   987  n12144580                      corn
988   988  n12267677                     acorn
989   989  n12620546                       hip
990   990  n12768682                   buckeye
991   991  n12985857              coral_fungus
992   992  n12998815                    agaric
993   993  n13037406                 gyromitra
994   994  n13040303                 stinkhorn
995   995  n13044778                 earthstar
996   996  n13052670          hen-of-the-woods
997   997  n13054560                    bolete
998   998  n13133613                       ear
999   999  n15075141             toilet_tissue

[1000 rows x 3 columns]